#################################################
# Exclude all by default
#################################################
*

#################################################
# Whitelisted folders
#################################################
!hauki*
!hours*
!users*
!locale*
!deploy
!tests

#################################################
# Whitelisted files
#################################################
!config_dev.env
!manage.py
!pytest.ini
!requirements*
!setup.cfg
!test-database.sh
